*{
  margin: 0;
}


.caixapai {
  height: 99vh;
  width: 100%;
}

.caixapai img {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 190px;
border-radius: 18px;

}
.textinho {
  font-size: 22px;
  text-align: center;
  padding: 20px;
  word-wrap: break-word;
  font-family: "black", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  color: white;

}
.caixamae{
  height: 800px;


}
body{
  background-color: #3C3D37;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Permite que as cartas se movam para a próxima linha se não houver espaço suficiente */
  justify-content: space-around; /* Espaça as cartas de maneira uniforme */
  margin: 50px; /* Espaço externo para a container */
position: absolute;
top: 800px;
transition: transform 0.3s ease-in-out;


}
.card {
  background-color: #1f1f1f;
  margin: 10px;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;

}


.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.f1-logo, .team-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.photo {
  text-align: center;
}

.player-photo {
  width: 100%;
  border-radius: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.attack, .defence {
  text-align: center;
}

.label {
  font-size: 12px;
  color: #ff5c00;
}

.defence .label {
  color: #00bfff;
}

.value {
  font-size: 28px;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.flag {
  width: 50px;
}

.salary {
  font-size: 12px;
}

.off-the-track {
  font-size: 16px;
  font-weight: bold;
}

.name {
  text-align: center;
  background-color: #00bfff;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

footer {
    
    padding: 20px 0;
    text-align: center;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    text-align: left;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 18px;
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5a54d8;
}